<div class="bg-light">
    <div class="bg-primary text-white text-center p-5">
        <h2>LIÊN HỆ CHÚNG TÔI</h2>
        <h5>Chúng tôi luôn sẵn sàng hỗ trợ, dù bạn ở bất cứ nơi đâu</h5>
    </div>
    <div class="container my-5">
        <h3 class="text-center text-primary">Hỗ trợ khách hàng</h3>

        <div class="card card-body">
            <form action="#" method="post">
                <h5>Mã đặt chỗ Vietnam Booking</h5>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="already-booking">
                    <label class="form-check-label" for="already-booking">Tôi đã có mã đặt chỗ của Vietnam
                        Booking</label>
                </div>

                <div class="mb-3">
                    <label for="ten-dich-vu" class="form-label">Tên dịch vụ</label>
                    <select id="ten-dich-vu" class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="ten-cua-ban" class="form-label">Tên của bạn</label>
                    <input type="email" class="form-control" id="ten-cua-ban" aria-describedby="emailHelp">
                </div>
                <div class="row mb-3">
                    <div class="col-sm-8">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password">
                    </div>
                    <div class="col-sm-4">
                        <label for="so-dien-thoai" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="so-dien-thoai">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="so-dien-thoai" class="form-label">Hãy chia sẻ lo lắng của bạn</label>
                    <textarea class="form-control" name="" id="so-dien-thoai"></textarea>
                </div>

                <div class="mb-3">
                    <input placeholder="verify you are human" type="text">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="card card-body mt-3">
            <h5>Tổng đài hỗ trợ</h5>
            <p>Áp dụng cước phí nhà mạng thông thường</p>
            <strong style="color: red;">Hotline: 01928374652</strong>
        </div>

        <div class="card card-body mt-3">
            <i class="bi bi-geo-alt-fill"></i>
            Địa chỉ:
            <div>
                <strong>Hồ Chí Minh</strong>
                <p>164 Lê Thánh Tôn, Bến Thành, Quận 1</p>
                <p>190-192 Trần Quý, Phường 6, Quận 11</p>
            </div>
        </div>
    </div>
</div>